<table border="1" class="dataframe data">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Roles</th>
      <th>location</th>
      <th>Skills</th>
      <th>Average_experience</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- Sidhr.In -- Bengaluru -- Data Science|Tensorflow|NLP|Data Scientist|Artificial Intelligence|Natural Language Processing|Hadoop|MongoDB</td>
      <td>Data Science|Tensorflow|NLP|Data Scientist|Artificial Intelligence|Natural Language Processing|Hadoop|MongoDB</td>
      <td>7.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- ADF Data Science Private Limited -- Chennai -- Data Science|Python</td>
      <td>Data Science|Python</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- INTELLIPREDIKT TECHNOLOGIES PRIVATE LIMITED -- Bengaluru -- Printing|data science|Machine learning|Data analytics|data visualization</td>
      <td>Printing|data science|Machine learning|Data analytics|data visualization</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- LOTPICK CONSULTING SERVICES PRIVATE LIMITED -- Bengaluru -- Data Science|Predictive Modeling|NLP|SQL / Pig / Hive|Data Scientist|Artificial Intelligence|Data Management|Machine Learning</td>
      <td>Data Science|Predictive Modeling|NLP|SQL / Pig / Hive|Data Scientist|Artificial Intelligence|Data Management|Machine Learning</td>
      <td>7.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- GlobalHunt India Private Limited -- Bengaluru -- Data Analysis</td>
      <td>Data Analysis</td>
      <td>13.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- BuzzHire -- Bengaluru -- Data Science|NLP|Data Scientist|Data Mining|Data Modeling|Data Analytics|Machine Learning|PhD</td>
      <td>Data Science|NLP|Data Scientist|Data Mining|Data Modeling|Data Analytics|Machine Learning|PhD</td>
      <td>7.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- Bion -- Bengaluru -- Data Science|NLP|Data Scientist|Data Mining|Data Modeling|Data Analytics|Machine Learning|PhD</td>
      <td>Data Science|NLP|Data Scientist|Data Mining|Data Modeling|Data Analytics|Machine Learning|PhD</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- Tookitaki -- Bengaluru -- Computer science|C++|Product engineering|data science|Analytical|Artificial Intelligence|Machine learning|Data processing</td>
      <td>Computer science|C++|Product engineering|data science|Analytical|Artificial Intelligence|Machine learning|Data processing</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- Narayana Hrudayalaya Ltd -- Bengaluru -- Change Management|NLP|Algorithms|Business Analytics|Image Processing|Neural Networks|data scientist|Medical Imaging</td>
      <td>Change Management|NLP|Algorithms|Business Analytics|Image Processing|Neural Networks|data scientist|Medical Imaging</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Data Scientist</td>
      <td>Data Scientist -- Hikaho System Private limited -- Chennai -- Data Science|Python|statistics|Data scientist|Data analysis|data mining|data structure|machine learning</td>
      <td>Data Science|Python|statistics|Data scientist|Data analysis|data mining|data structure|machine learning</td>
      <td>10.5</td>
    </tr>
  </tbody>
</table>